@tailwind base;

@layer base{
	body{
		@apply bg-[#171b22] text-[#c9d1d9] container max-w-lg mx-auto p-10 flex flex-col justify-start items-center min-h-screen
	}
}

@tailwind components;
@tailwind utilities